#card-img {
    width: 500px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensure the image covers the entire container */
}


 #card-button:hover {
  svg{
    width: 2rem;
    transition-delay: 0.25s;
  }
  }


#cards:hover {
  background: black !important;
  transition: 1s;
  color: #ffffff !important;

  img {
    width: 600px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    object-fit: cover;
  }

  a, h5, p {
    color: #ffffff;
  }
}